@font-face {
  font-family: "Material Icons";
  font-style: normal;
  font-weight: 400;
  src: url("../icons/web-font/flUhRq6tzZclQEJ-Vdg-IuiaDsNcIhQ8tQ.woff2")
      format("woff2"),
    url("../icons/web-font/flUhRq6tzZclQEJ-Vdg-IuiaDsNa.woff") format("woff");
}
